<div class="">
  <img
    class="absolute object-cover w-full h-full"
    src="https://images.unsplash.com/photo-1519751138087-5bf79df62d5b?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470"
    alt="people"
  />

  <div class="hidden sm:block sm:inset-0 sm:absolute sm:bg-gradient-to-r sm:from-gray-400 sm:to-transparent"></div>

  <div class="relative">
    <div class="max-w-xl text-center sm:text-left">
      <h1 class="text-3xl text-black font-main">
        Hi there, I'm Lilian
      </h1>

      <%# <p class="max-w-lg mt-4 sm:leading-relaxed sm:text-xl">
      Find one to rent with RentMe! %>
      <%# </p> %>
    </div>
  </div>
</div>
